<!DOCTYPE html>
<html>
<head>
    <title>Packages</title>
</head>
<body>
    <h1>Packages</h1>
    <table>
	<tr>
		<th>Customer Name</th>
		<th>Package Number</th>
		<th>Supplier Name</th>
		<th>Customer Account Number</th>
		<th>Package Description</th>
		<th>Package Status</th>
		<th>Package PhotoB64</th>
	</tr>
        {% for package in packages['SDTPackageCollection'] %}
	<tr>
		<td>{{ package['CustomerName'] }}</td>
		<td>{{ package['PackageNumber'] }}</td>
		<td>{{ package['SupplierName'] }}</td>
		<td>{{ package['CustomerAccountNumber'] }}</td>
		<td>{{ package['PackageDescription'] }}</td>
		<td>{{ package['PackageStatus'] }}</td>
		<td>{{ package['PackagePhotoB64'] }}</td>
	</tr>
        {% endfor %}
    </table>
</body>
</html>

